/* Center content styles */

/* Center content */
.gauge-center {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conditions-center {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    font-size: 7rem;
    line-height: 7rem;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#conditions-center.inactive {
    display: none;
}
