/* Gauge text styles */

/* Gauge title */
.gauge-title {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    color: #03a9f4;
}

/* Gauge value */
.gauge-value {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
