#history-display {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #191919;
    border-radius: 10px;
    width: 280px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#temp-sparkline {
    width: 260px;
    height: 80px;
    margin-bottom: 5px;
}


