#history-display {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #191919;
    border-radius: 10px;
    width: 280px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#combined-sparkline {
    width: 260px;
    height: 80px;
    margin: 0;
}


