/* Temperature display styles */

.outdoor-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #333;

    .value {
        font-weight: bold;
        color: #fff;
    }

    .unit {
        color: #ccc;
    }

    .trend {
        color: #aaa;
    }

    .temperature-container {
        margin-right: 1rem;

        .value {
            font-size: 4rem;
            line-height: 4rem;
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }

        .unit {
            font-size: 2rem;
            margin-left: 3px;
        }

        .trend {
            font-size: 2rem;
        }
    }

    .other-container {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;

        .value {
            line-height: 1.2rem;
            font-size: 1.2rem;
        }
        .unit {
            font-size: 1rem;
        }
        .trend {
            font-size: 1rem;
        }

        /* .humidity {} */

        /* .pressure {} */
    }

}
