/* Sensor info and charts styles */

/* Sensor info styling */
.sensor-info {
    text-align: center;
    margin-bottom: 10px;
}

.sensor-info h3 {
    margin: 5px 0;
    color: #03a9f4;
}

.entity-name {
    font-size: 14px;
    color: #aaaaaa;
    margin-bottom: 5px;
    word-break: break-all;
}
